@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 20px;
}

main {
    border-radius: 12px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 3%);
    width: 300px;
    height: 460px;
    background-color: white;
    margin: 0 auto;
}

.qrcode {
    width: 90%;
    margin-top: 12px;
    border-radius: 10px;
}

h2 {
    color: hsl(218, 44%, 22%);
    margin: 15px;
    font-weight: 700;
}

p {
    margin: 12px;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    margin: 45px;
    font-size: 11px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

